#topNavVR {
    background-color: #3DC2AE;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

#vrNavMain {
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

#topNavProj {
    background-color: #3DC2AE;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

#projNavMain {
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

#topNavHome {
    background-color: #3DC2AE;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

#homeNavMain {
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-link {
    color: white;
}


.progBarBG {
    Width: 100%;
    height: 6px;
    background-color: lightgrey;
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    z-index: 9;
}

.progBar {
    Width: 0%;
    height: 6px;
    background-color: #4A9FBA;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 9;
}

#name1 {
    font-size: 30px;
    padding-top: 30px;
}

#name2 {
    font-size: 50px;
    font-weight: bold;
}

#tagline {
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 30px;
}

#profilePic {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#whiteboard {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#midBio {
    padding-top: 30px;
}

#featWork {
    padding-top: 30px;
    font-size: 25px;
    padding-bottom: 30px;
    font-weight: bold;
}

#homeImg1 {
    height: 400px;
    background-image: url(Images/Psych_Lab_Image_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

#p1Title {
    font-size: 35px;
    color: white;
    background-color: #3DC2AE; 
    border-radius: 15px 15px 0px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 5px #4B4B4B;
}

#p1Desc {
    font-size: 20px;
    background-color: #c1ebe5; 
    border-radius: 0px 0px 15px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#p1button {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}

#homeImg2 {
    height: 400px;
    background-image: url(Images/storyboard_capture.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

#p2Title {
    font-size: 35px;
    color: white;
    background-color: #3DC2AE; 
    border-radius: 15px 15px 0px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 5px grey;
}

#p2Desc {
    font-size: 20px;
    background-color: #c1ebe5; 
    border-radius: 0px 0px 15px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#p2button {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}

#homeImg3 {
    height: 400px;
    background-image: url(Images/terracotta.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

#p3Title {
    font-size: 35px;
    color: white;
    background-color: #3DC2AE; 
    border-radius: 15px 15px 0px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 5px #4B4B4B;
}

#p3Desc {
    font-size: 20px;
    background-color: #c1ebe5; 
    border-radius: 0px 0px 15px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#p3button {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}

#selWork {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
}

#projImg1 {
    background-image: url(Images/terracotta.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 5px 0px 10px rgb(126, 126, 126);
}

#projDesc1 {
    background-color: #c1ebe5;
    border-radius: 0px 15px 15px 0px;
    z-index: -10;
}

#projTitle1 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
}

#projSum1 {
    padding-bottom: 15px;
}

#projBtn1{
    font-size: 50px;
}

.test {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#projImg2 {
    background-image: url(Images/Psych_Lab_Image_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 5px 0px 10px rgb(126, 126, 126);
}

#projDesc2 {
    background-color: #c1ebe5;
    border-radius: 0px 15px 15px 0px;
    z-index: -10;
}

#projTitle2 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
}

#projSum2 {
    padding-bottom: 15px;
}

#projBtn2 {
    font-size: 50px;
}

#projImg3 {
    background-image: url(Images/storyboard_capture.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 5px 0px 10px rgb(126, 126, 126);
}

#projDesc3 {
    background-color: #c1ebe5;
    border-radius: 0px 15px 15px 0px;
    z-index: -10;
}

#projTitle3 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
}

#projSum3 {
    padding-bottom: 15px;
}

#projBtn3 {
    font-size: 50px;
}

#bottom1{
    background-image: url(Images/Baldwin_Brady-Poster-small.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius:  0px 0px 15px 15px;
    margin-bottom: 100px;
}

#bottom2{
    background-image: url(Images/pd_afinity.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius:  0px 0px 15px 15px;
    margin-bottom: 100px;
}

#bottomName1 {
    text-align: center;
    background-color: #c1ebe5;
    border-radius: 15px 15px 0px 0px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

#bottomName2 {
    text-align: center;
    background-color: #c1ebe5;
    border-radius: 15px 15px 0px 0px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

#bottomBtn1{
    font-size: 40px;
}

#bottomBtn2{
    font-size: 40px;
}

.bottomMargin{
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center;
}

#mailButton{
    cursor: pointer;
}

#vrHeadBG{
    background: linear-gradient(#4A9FBA 70%, white);
}

#vrTitle{
    color: white;
    padding-top: 20px;
    font-size: 80px;
}

#vrSum{
    margin-top: 30px;
    color: white;
    font-size: 20px;
    margin-bottom: 80px;
}

#vrGreybox1{
    object-fit: contain;
}

.vrSubHead{
    color: #4A9FBA;
    font-size: 40px;
    padding-top: 80px;
}

.vrHeadings{
    font-size: 40px; 
    padding-top: 100px;
    border-width: 4px;
    border-style: solid;
    border-color: white white black white;
}

.vrSubBorder{
    border-width: 4px;
    border-style: solid;
    border-color: #4A9FBA #4A9FBA white white;
}

#vrSubBorderBlank{
    border-width: 4px;
    border-style: solid;
    border-color: #4A9FBA #4A9FBA white white;
}

.vrSubDesc{
    font-size: 20px;
}

#vrCollab{
    color: #4A9FBA;
    font-size: 40px;
    padding-top: 80px;
}

#vrCollabDesc{
    font-size: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: #4A9FBA white white #4A9FBA ;
}

#vrCollabImg{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brainstormImgVR{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
}

.vrSumListStyle {
    background-color: #B2C4CA;
    border-radius: 15px;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.vrSumListNum {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: #3DC2AE;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
    padding-top: 18px
}

.vrSumListText {
    font-size: 30px;
    padding-top: 18px
}

#decisionsSeg1{
    margin-bottom: 20px; 
}

#decisionsSeg2{
    margin-bottom: 20px; 
}

#decisionsSeg3{

}

#decisionsAccordion{
    padding-top: 20px;
}

#decisions1{
    background-color: #90cec5;
    border-radius: 15px;
}

#decisions2{
    background-color: #90cec5;
    border-radius: 15px;
}

#decisions3{
    background-color: #90cec5;
    border-radius: 15px;
}

#oversizedImgVR{
    width: 600px;
    margin-top: -100px;
}

#inlineGBVR{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
}

#vrModelingImgBorder {
    border-style: solid;
    border-color: #4A9FBA white white #4A9FBA ;
    border-width: 4px;
}

.modelingImgVR{
    object-fit: cover;
    height: 400px;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
}

.modelingCap {
    font-size: 20px;
    text-align: center;
    color: #4B4B4B;
}

#taSeg1{
    margin-bottom: 20px; 
}

#taSeg2{
    margin-bottom: 20px; 
}

#taSeg3{

}

#taAccordion{
    padding-top: 20px;
}

#ta1{
    background-color: #90cec5;
    border-radius: 15px;
}

#ta2{
    background-color: #90cec5;
    border-radius: 15px;
}

#ta3{
    background-color: #90cec5;
    border-radius: 15px;
}